<!--
  ~ Copyright (c) 2018 Adin Kwok (adinkwok)
  ~ Proprietary and confidential, all rights reserved
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adinkwok.doteos">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".menu.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.GameInstructionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.DoteosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".game.QuitSplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.SingleGraphActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.DoubleGraphActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>